.nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    cursor: pointer;
  }
  
  .navbar-brand {
    cursor: pointer;
    margin-right: 65vw; 
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    text-transform: capitalize;
  }
  